version = 0.1
[default.deploy.parameters]
stack_name = "sandpit-orch-stub"
resolve_s3 = true
s3_prefix = "sandpit-orch-stub"
region = "eu-west-2"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "Environment=\"sandpit\""
image_repositories = []

[authdev1.deploy.parameters]
stack_name = "authdev1-orch-stub"
resolve_s3 = false
s3_bucket = "authdev1-orch-stub-pipeli-githubartifactsourcebuck-rzjefvfqlda0"
region = "eu-west-2"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "CodeSigningConfigArn=\"arn:aws:lambda:eu-west-2:975050272416:code-signing-config:csc-02c6581dbd807978b\" Environment=\"dev\" SubEnvironment=\"authdev1\" PermissionsBoundary=\"arn:aws:iam::975050272416:policy/authdev1-orch-stub-pipeline-AppPermissionsBoundary-0a4d50d7cb79\""
image_repositories = []
signing_profiles = "IndexFunction=\"SigningProfile_bdzyxbYzrSD8\" CallbackFunction=\"SigningProfile_bdzyxbYzrSD8\""

[authdev2.deploy.parameters]
stack_name = "authdev2-orch-stub"
resolve_s3 = false
s3_bucket = "authdev2-orch-stub-pipeli-githubartifactsourcebuck-se0xcmhrqek1"
region = "eu-west-2"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "CodeSigningConfigArn=\"arn:aws:lambda:eu-west-2:975050272416:code-signing-config:csc-00ec1abc2c5922ee1\" Environment=\"dev\" SubEnvironment=\"authdev2\" PermissionsBoundary=\"arn:aws:iam::975050272416:policy/authdev2-orch-stub-pipeline-AppPermissionsBoundary-0aacfedb8ec3\""
image_repositories = []
signing_profiles = "CallbackFunction=\"SigningProfile_bdzyxbYzrSD8\" IndexFunction=\"SigningProfile_bdzyxbYzrSD8\""
